<div class="container">


  <div class="center-align">
    <h2>Treasure Tool</h2>
    <p>Quickly roll loot for your D&D campaign!</p>
  </div>


  <form [formGroup]="treasureForm" novalidate (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col m4">
        <mz-card>
          <mz-card-title>Challenge</mz-card-title>
          <mz-card-content>
            <div *ngFor="let crType of crTypes">
              <mz-radio-button-container>
                <input mz-radio-button type="radio" [id]="crType.value" name="cr" formControlName="cr" [label]="crType.label"
                  [value]="crType.value" />
              </mz-radio-button-container>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col m4">
        <mz-card>
          <mz-card-title>Treasure Type</mz-card-title>
          <mz-card-content>
            <div *ngFor="let treasureType of treasureTypes">
              <mz-radio-button-container>
                <input mz-radio-button type="radio" [id]="treasureType" name="treasure" formControlName="treasure"
                  [label]="treasureType" [value]="treasureType" />
              </mz-radio-button-container>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
    <button mz-button *ngIf=treasureForm.valid type="submit" (click)="modal.openModal()">Roll Loot!</button>
  </form>


  <mz-modal #modal [options]="modalOptions">
    <mz-modal-content>
      <div *ngIf="lootPromise | async">
        <div class="row">
          <div *ngIf="lootResult">
            <h3>Currency: </h3>
            <div *ngFor="let coins of lootResult.coins">
              <h4>{{coins.count}} {{coins.type}}</h4>
            </div>
          </div>
          <div>
            <h3>Treasure: </h3>
            <div *ngIf="lootResult.treasure != undefined; else treasureElseBlock">
              <div [ngSwitch]="lootResult.treasure.type">
                <div *ngSwitchCase="0">
                  <h4>{{lootResult.treasure.count}} {{lootResult.treasure.value}} gp gems</h4>
                </div>
                <div *ngSwitchCase="1">
                  <h4>{{lootResult.treasure.count}} {{lootResult.treasure.value}} gp art objects</h4>
                </div>
              </div>
            </div>
            <ng-template #treasureElseBlock>
              <h4>None</h4>
            </ng-template>
          </div>
          <div>
            <h3>Magic Items: </h3>
            <div *ngIf="lootResult.magicItems != undefined; else elseBlock">
              <div *ngFor="let magicItem of lootResult.magicItems">
                <h4>{{magicItem.name}}, pg. {{magicItem.page}}</h4>
              </div>
            </div>
              <ng-template #elseBlock>
                <h4>No Magic Items</h4>
              </ng-template>
          </div>

        </div>
      </div>
    </mz-modal-content>

  </mz-modal>


</div>
