.table-striped .inactive {
    background-color: #8d8d8d;
    color: #d3d0d0;
}

/* thead tr th:first-child,
tbody tr td:first-child {
  width: 33vw;
  min-width: 33vw;
  max-width: 33vw;
  word-break: break-all;
} */