<div class="container">

      <div class="center-align">
        <h2>ToA Weather Tool</h2>
        <p>Quickly generate weather data for your Tomb of Annihilation Campaign!</p>
      </div>
      <div class="row">
        <div class="col offset-m3 m6 center-align">
          <mz-pagination (pageChange)="onPageChange($event)" [currentPage]="paginationCurrentPage"
            [enableFirstAndLastPageButtons]="true" [itemsPerPage]="paginationItemPerPage" [totalItems]="numRows">
          </mz-pagination>
        </div>
      </div>
      <div class="row">
        <div class="col offset-m4 m4">
          <table class="responsive-table bordered striped z-depth-1">
            <thead>
              <tr>
                <th class="center-align" style="width: 10%">Day</th>
                <th style="width: 30%">Weather</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of weatherData[paginationCurrentPage-1]">
                <td class="center-align">{{row.day}}</td>
                <td>{{row.weather}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col offset-m4 m4 center-align large">
          <button mz-button (click)="generateCSV()">
            Export to CSV
          </button>
        </div>
      </div>











</div>
